<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpringHackathon</title>
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/send.css" asp-append-version="true" >
</head>
<body>
    <aside>
        <header>
            <h1>SSG-25K Chat</h1>
        </header>
        <div class="user"><p contenteditable="true">Nashikian</p></div>
        <div class="user"><p contenteditable="true">Vektor19</p></div>
        <div class="user"><p contenteditable="true">Atx4real</p></div>
    </aside>
      <main>
        @RenderBody()
      </main>  
</body>
</html>
