@model User

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
    <link href="/css/Account.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>

        <div class="cards">
            <div class="user-card">
                <div class="user-photo">
                    <img src="/img/icon.png" alt="User Photo">
                </div>
                <div class="user-info">
                    <h3 style="font-size:1.5vw; class="nickname"><strong>UserName:</strong> <br><span style="font-size:1.2vw;">@Model.UserName</span></h3>

                    <h3 style="font-size:1.5vw; class="email"><strong>Email:</strong> <br><span style="font-size:1.2vw;">@Model.Email</span></h3>
                </div>
                <form asp-action="Edit" method="get">
                    <button class="edit-btn" type="submit"><strong>EDIT</strong></button>
                </form>
                <form asp-action="Password" method="get">
                    <button class="edit-btn" type="submit"><strong>Change<br>Password</strong></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

