@model User

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
    <link href="/css/Account.css" rel="stylesheet" />

</head>
<body>
    <div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>

        <div class='light x4'></div>
        <div class='light x5'></div>
        <div class='light x6'></div>
        <div class='light x7'></div>
        <div class='light x8'></div>
        <div class='light x9'></div>
        <div class="cards">
            <div class="user-card">
                <div class="user-photo">
                    <img src="/img/icon.png" alt="User Photo">
                </div>
                <div class="user-info">
                    <h3 style="font-size:1.5vw; class="nickname"><strong>UserName:</strong> <br><span style="font-size:1.2vw;">@Model.UserName</span></h3>
                    <h3 style="font-size:1.5vw; class="email"><strong>Email:</strong> <br><span style="font-size:1.2vw;">@Model.Email</span></h3>
                </div>
                <div class="devide-btns">
                    <form asp-action="Edit" method="get">
                        <button class="password-btn" type="submit"><strong>EDIT</strong></button>
                    </form>
                    <form asp-action="Password" method="get">
                        <button class="password-btn" type="submit"><strong>Change<br>Password</strong></button>
                    </form>
                    <button class="password-btn del" onclick="openModal()"><strong>Delete</strong></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to delete this account?</p>
            <button class="left" onclick="closeModal()">No</button>
            <form asp-action="Delete" method="post">
                <button class="right" onclick="deleteAccount()">Yes</button>
            </form>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }
    </script>
</body>
</html>
