@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href="/css/Auth.css" rel="stylesheet" />

</head>
<body>
	<div class="cont">
		<div class="forms-container">
			<div class="signin-signup">
				<form id="registerForm" method="post">
					<h2 class="title">Sign up</h2>
					<div class="input-field">
						<i class='bx bx-envelope'></i>
						<input type="text" name="email" placeholder="Email" />
					</div>
					<div class="input-field">
						<i class='bx bx-lock-alt'></i>
						<input type="password" name="password" placeholder="Password" />
					</div>
					<div class="input-field">
						<i class='bx bx-lock-alt'></i>
						<input type="password" name="confirmPassword" placeholder="Confirm Password" />
					</div>

					<button id="registerSubmit" class="btn" type="submit">Register</button>
					<p class="social-text">Or Sign up with social platforms</p>
					<div class="social-media">
						<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="GitHub" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="social-icon">
							<i class='bx bxl-github'></i>
						</a>
						<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Twitter" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="social-icon">
							<i class='bx bxl-twitter'></i>
						</a>
						<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Google" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="social-icon">
							<i class='bx bxl-google'></i>
						</a>
						<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Discord" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="social-icon">
							<i class='bx bxl-discord-alt'></i>
						</a>
					</div>
				</form>
			</div>
		</div>
		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h1>Already have account?</h1>
					<p>
						Discover a world of possibilities! Join us and explore a vibrant
						community where ideas flourish and connections thrive.
					</p>
					<form id="signInForm" method="get" asp-action="Login">
						<button class="btn transparent" type="submit">Log in</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
