
/*Background part*/
body {
    background: rgba(22,20,22,1);
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 25vh;
    animation: wave 15s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    bottom: 0;
    left: 0;
    z-index: -1;
}

    .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.8;
    }

    .wave:nth-of-type(3) {
        bottom: -2.5em;
        animation: wave 90s -1s reverse infinite;
        opacity: 0.9;
    }

    .wave:nth-of-type(4) {
        bottom: -3.5em;
        animation: wave 25s -1s reverse infinite;
        opacity: 1;
    }

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



/*Card part*/
.cards {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Градиентный фон */
}

.user-card {
    background-color: #3a3a3a; /* Темный цвет карточки */
    color: #fff; /* Белый цвет текста */
    border-radius: 10px;
    padding: 20px;
    width: 25vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Центрирование текста и кнопки */
    font-family: Arial, sans-serif; /* Установка шрифта */
}


.user-photo {
    margin-bottom: 20px;
}

    .user-photo img {
        width: 100px; /* adjust as needed */
        height: 100px; /* adjust as needed */
        border-radius: 50%;
    }

.user-info {
    margin-bottom: 30px;
}

    .user-info h3 {
        margin: 24px;
        padding: 12px;
        border: 2px solid gray;
    }

    .user-info span {
    }

.nickname,
.email {
    margin: 0;
}

.edit-btn {
    margin: auto;
    background-color: #fff; /* Белый цвет кнопки */
    color: #080808; /* Очень темный цвет текста на кнопке */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .edit-btn:hover {
        background-color: #F86F03;
        color: #080808;
    }
