@import url('https://fonts.googleapis.com/css?family=Roboto');
.input_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ada9a8;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

    .input_container input {
        width: 65vw;
        height: 40px;
        background-color: #0d1117;
        border: solid 3px #c3cbd3;
        border-radius: 6px;
        color: white;
        padding-left: 10px;
    }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #0d1117 inset;
}

.input_container input::placeholder {
    text-align: center;
}

.input_container button {
    width: 15vw;
    height: 40px;
    margin-left: 1rem;
    background-color: #0d1117;
    color: white;
    border-color: white;
    border-radius: 6px;
    cursor: pointer;
}

    .input_container button:hover {
        background-color: white;
        color: black;
        border: none;
    }
